{% extends 'base.html.twig' %}

{% block title %}Leave a message in our guestbook{% endblock %}

{% block body %}

	{{ form_start(form) }}
	{{ form_widget(form) }}

		<input type="submit" value="Save" class='btn btn-primary mt-3'/>
		<a id="delete-entry-button" href="#" class="btn btn-danger delete-entry mt-3" data-id="{{id}}">Delete</a>

	{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	<script src="/js/main.js"></script>
{% endblock %}